html {
    background-color: grey;
}

h1 {
    font-size: 50px;
    text-align: center;
}
table {
    font-family: fantasy;
    border-collapse: collapse;
    background-color: white;
    margin: 1.5em 0;
    width:100%;
}

td input{
    width:100%;
    border:none;
    background: #fff;
}

td, th {
    border: 2.5px solid #dddddd;
    text-align: left;
    padding: 4px;
}

td:first-child, th:first-child{
    border-left:none;
}

td:last-child, th:last-child{
    border-right: none;
}

th{
    background-color: red;
}

button {
    background-color: black;
    border: 1px solid grey;
    color: darkred;
}

#navigation .menuButton{
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    width:160px;
    height:40px;

}

#navigation {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    height:40px;
}


#loginDiv {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#loginDiv input{
    width:120px;
    height:20px;
    float: left;
}

#loginDiv button{
    width:120px;
    height:20px;
    float: left;
}
